<a href="https://colab.research.google.com/github/jasonsgraham/nlp_notes/blob/main/nlp_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup #

In [2]:
#@title Default title text
!wget -q https://gist.githubusercontent.com/jasonsgraham/f63e1737121e2154ee3ad228398137e2/raw/7f0bb2c8e756e43cabcd90027dedfb79670132ae/setup_colab.py -O colab_setup.py
%run colab_setup.py

Loading WANDB api key.

In [4]:
%%sh
pip install -q --upgrade transformers
pip install -q --upgrade wandb
pip install -q --upgrade mlflow

Check if notebook is running in Colab or Kaggle

In [5]:
try:
    import mlflow
except ImportError as e:
    !pip install mlflow
    import mlflow

In [6]:
import json
from pathlib import Path

import numpy as np
import pandas as pd
from scipy import sparse
from tqdm import tqdm

pd.options.display.width = 180
pd.options.display.max_colwidth = 120

In [7]:
import sys
GOOGLE_COLAB = 'google.colab' in sys.modules

if GOOGLE_COLAB:
  data_dir = Path('/content/drive/MyDrive/Colab Notebooks/input/AI4Code')
  output_dir = Path('/content/drive/MyDrive/Colab Notebooks/output/AI4Code')
  train_parquet_file = data_dir / 'train.parquet'
else:
  data_dir = data_dir = Path('../input/AI4Code')
  output_dir = Path('./')

In [ ]:
df_orders = pd.read_csv(
    data_dir / 'train_orders.csv',
    index_col='id',
    squeeze=True,
).str.split()  # Split the string representation of cell_ids into a list

df_orders

In [10]:
NUM_TRAIN = 10000


def read_notebook(path):
    return (
        pd.read_json(
            path,
            dtype={'cell_type': 'category', 'source': 'str'})
        .assign(id=path.stem)
        .rename_axis('cell_id')
    )

if train_parquet_file.exists():
  df = pd.read_parquet(train_parquet_file)
else:
  paths_train = list((data_dir / 'train').glob('*.json'))[:NUM_TRAIN]
  notebooks_train = [
      read_notebook(path) for path in tqdm(paths_train, desc='Train NBs')
  ]
  df = (
      pd.concat(notebooks_train)
      .set_index('id', append=True)
      .swaplevel()
      .sort_index(level='id', sort_remaining=False)
  )
  df.to_parquet(train_parquet_file)

In [15]:
df_orders.shape

(139256,)

In [ ]:
df

In [19]:
nb_id = df.index.unique('id')[6]
# Get the correct order
cell_order = df_orders.loc[nb_id]
nb = df.loc[nb_id, :]
print("The ordered notebook:")
#nb.loc[cell_order, :]
cell_order

The ordered notebook:

['3e551fb7',
 '45049ad8',
 '8bb41691',
 '123b4f4c',
 '0b92cb59',
 '5a8b6e2d',
 'df963df4',
 '3c7d19bc',
 '0f3db81b',
 'eadf5c66',
 '33ff3073',
 '6cfbe868',
 '88cc83b2',
 '818c4c15']

In [20]:
def get_ranks(base, derived):
    return [base.index(d) for d in derived]

cell_ranks = get_ranks(cell_order, list(nb.index))
nb.insert(0, 'rank', cell_ranks)

nb

          rank cell_type                                                                                                                   source
cell_id
3e551fb7     0      code  # This Python 3 environment comes with many helpful analytics libraries installed\n# It is defined by the kaggle/pyt...
45049ad8     1      code   train_data = pd.read_csv("/kaggle/input/titanic/train.csv")\ntest_data = pd.read_csv("/kaggle/input/titanic/test.csv")
123b4f4c     3      code                                                                                              import plotly.express as px
0b92cb59     4      code                                                                                                      train_data.head(20)
df963df4     6      code                                         train_data.isnull().sum()  #checking out which column has most no. of NaN Values
0f3db81b     8      code  px.bar(data_frame=train_data, x='Sex', y='Survived',color='Sex',facet_row_spacing=0, title="Relation between Gender ...
33ff3073    10      code  total_passengers = train_data['Sex'].count()\ncount_males = 0\ncount_females = 0\nfor i,j in zip(train_data['Sex'], ...
818c4c15    13      code  from sklearn.ensemble import RandomForestClassifier\n\n\ny = train_data["Survived"]\n\nfeatures = ["Pclass", "Sex", ...
6cfbe868    11  markdown                 ## Survival Rate for Male Passenger is : 12.235 %\n\n## Survival Rate for Female Passenger is : 26.150 %
eadf5c66     9  markdown  ## Who has more luck in here? \n\n\nFrom the above data we can find out that females had more survival rate on Titan...
3c7d19bc     7  markdown                  From the above inference Cabin needs to be either dropped or needs to be filled with Appropriate values
5a8b6e2d     5  markdown  ## EDA is all about asking the right questions\n\nWhat are some questions that come to your mind when you're checkin...
8bb41691     2  markdown                                                                                  ### Checking out the Titanic Dataset \n
88cc83b2    12  markdown                                                                                                 # Machine Learning Model

In [22]:
from pandas.testing import assert_frame_equal

assert_frame_equal(nb.loc[cell_order, :], nb.sort_values('rank'))

In [23]:
df_orders_ = df_orders.to_frame().join(
    df.reset_index('cell_id').groupby('id')['cell_id'].apply(list),
    how='right',
)

ranks = {}
for id_, cell_order, cell_id in df_orders_.itertuples():
    ranks[id_] = {'cell_id': cell_id, 'rank': get_ranks(cell_order, cell_id)}

df_ranks = (
    pd.DataFrame
    .from_dict(ranks, orient='index')
    .rename_axis('id')
    .apply(pd.Series.explode)
    .set_index('cell_id', append=True)
)

df_ranks

                        rank
id             cell_id
00001756c60be8 1862f0a6    0
               2a9e43d6    2
               038b763d    4
               2eefe0ef    6
               0beab1cd    8
...                      ...
12b925c525495d 84762508   17
               bb270083   21
               473e430f   14
               71181d6d    4
               d442a546    7

[461676 rows x 1 columns]

In [24]:
df_ancestors = pd.read_csv(data_dir / 'train_ancestors.csv', index_col='id')

In [25]:
df_ancestors

               ancestor_id       parent_id
id
00001756c60be8    945aea18             NaN
00015c83e2717b    aa2da37e  317b65d12af9df
0001bdd4021779    a7711fde             NaN
0001daf4c2c76d    090152ca             NaN
0002115f48f982    272b483a             NaN
...                    ...             ...
fffc30d5a0bc46    6aed207b             NaN
fffc3b44869198    a6aaa8d7             NaN
fffc63ff750064    0a1b5b65             NaN
fffcd063cda949    d971e960             NaN
fffe1d764579d5    3c40bfa6             NaN

[139256 rows x 2 columns]

In [26]:
from sklearn.model_selection import GroupShuffleSplit

NVALID = 0.1  # size of validation set

splitter = GroupShuffleSplit(n_splits=1, test_size=NVALID, random_state=0)

# Split, keeping notebooks with a common origin (ancestor_id) together
ids = df.index.unique('id')
ancestors = df_ancestors.loc[ids, 'ancestor_id']
ids_train, ids_valid = next(splitter.split(ids, groups=ancestors))
ids_train, ids_valid = ids[ids_train], ids[ids_valid]

df_train = df.loc[ids_train, :]
df_valid = df.loc[ids_valid, :]

In [32]:
df_valid

                        cell_type                                                                                                                   source
id             cell_id
000757b90aaca0 8f84d7a9      code  import pandas as pd\nimport spacy\nimport networkx as nx                        # a really useful network analysis l...
               eb6ca769      code  nlp = spacy.load('en_core_web_lg')           # A more detailed model (with higher-dimension word vectors) - 13s to l...
               bc595bc2      code                            plt.rcParams['figure.figsize'] = [10, 10]  # makes the output plots large enough to be useful
               93cceeef      code  rowlimit = 500              # this limits the tweets to a manageable number\ndata = pd.read_csv('../input/ExtractedT...
               3cb3d383      code                                                                                                             data.head(6)
...                           ...                                                                                                                      ...
1292c88558dbc8 15290200  markdown                                                                                                     # 2. Import Datasets
               affda817  markdown                                                                                                        # Data Dictionary
               0d9947c2  markdown  <b>We notice from the plot most the word frequancies are the common word. and that's will not help us to understand ...
               af4b2ad7  markdown                                                                      ## 3.5 Print Selective Rows from Non-Toxic Comments
               03a8f940  markdown  <b>To find the most common toxic words in the dataset, we used stopword function to remove common words like the, a,...

[44966 rows x 2 columns]

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Training set
tfidf = TfidfVectorizer(min_df=0.01)
X_train = tfidf.fit_transform(df_train['source'].astype(str))
# Rank of each cell within the notebook
y_train = df_ranks.loc[ids_train].to_numpy()
# Number of cells in each notebook
groups = df_ranks.loc[ids_train].groupby('id').size().to_numpy()

In [30]:
groups

array([58, 93, 13, ..., 87, 31, 26])

Now let's add the code cell ordering as a feature. We'll append a column that enumerates the code cells in the correct order, like `1, 2, 3, 4, ...`, while having the dummy value `0` for all markdown cells. This feature will help the model learn to put the code cells in the correct order.

In [33]:
code=nb.loc[nb.cell_type=="code"]

In [34]:
code

          rank cell_type                                                                                                                   source
cell_id
3e551fb7     0      code  # This Python 3 environment comes with many helpful analytics libraries installed\n# It is defined by the kaggle/pyt...
45049ad8     1      code   train_data = pd.read_csv("/kaggle/input/titanic/train.csv")\ntest_data = pd.read_csv("/kaggle/input/titanic/test.csv")
123b4f4c     3      code                                                                                              import plotly.express as px
0b92cb59     4      code                                                                                                      train_data.head(20)
df963df4     6      code                                         train_data.isnull().sum()  #checking out which column has most no. of NaN Values
0f3db81b     8      code  px.bar(data_frame=train_data, x='Sex', y='Survived',color='Sex',facet_row_spacing=0, title="Relation between Gender ...
33ff3073    10      code  total_passengers = train_data['Sex'].count()\ncount_males = 0\ncount_females = 0\nfor i,j in zip(train_data['Sex'], ...
818c4c15    13      code  from sklearn.ensemble import RandomForestClassifier\n\n\ny = train_data["Survived"]\n\nfeatures = ["Pclass", "Sex", ...

In [38]:
import tokenize
import io

code.loc['33ff3073','source']

code_text = tokenize.generate_tokens(io.StringIO(code.loc['33ff3073','source']).readline)
[tok for tok in code_text]

[TokenInfo(type=1 (NAME), string='total_passengers', start=(1, 0), end=(1, 16), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string='=', start=(1, 17), end=(1, 18), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=1 (NAME), string='train_data', start=(1, 19), end=(1, 29), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string='[', start=(1, 29), end=(1, 30), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=3 (STRING), string="'Sex'", start=(1, 30), end=(1, 35), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string=']', start=(1, 35), end=(1, 36), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string='.', start=(1, 36), end=(1, 37), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=1 (NAME), string='count', start=(1, 37), end=(1, 42), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string='(', start=(1, 42), end=(1, 43), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=53 (OP), string=')', start=(1, 43), end=(1, 44), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(1, 44), end=(1, 45), line="total_passengers = train_data['Sex'].count()\n"),
 TokenInfo(type=1 (NAME), string='count_males', start=(2, 0), end=(2, 11), line='count_males = 0\n'),
 TokenInfo(type=53 (OP), string='=', start=(2, 12), end=(2, 13), line='count_males = 0\n'),
 TokenInfo(type=2 (NUMBER), string='0', start=(2, 14), end=(2, 15), line='count_males = 0\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(2, 15), end=(2, 16), line='count_males = 0\n'),
 TokenInfo(type=1 (NAME), string='count_females', start=(3, 0), end=(3, 13), line='count_females = 0\n'),
 TokenInfo(type=53 (OP), string='=', start=(3, 14), end=(3, 15), line='count_females = 0\n'),
 TokenInfo(type=2 (NUMBER), string='0', start=(3, 16), end=(3, 17), line='count_females = 0\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(3, 17), end=(3, 18), line='count_females = 0\n'),
 TokenInfo(type=1 (NAME), string='for', start=(4, 0), end=(4, 3), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='i', start=(4, 4), end=(4, 5), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=',', start=(4, 5), end=(4, 6), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='j', start=(4, 6), end=(4, 7), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='in', start=(4, 8), end=(4, 10), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='zip', start=(4, 11), end=(4, 14), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string='(', start=(4, 14), end=(4, 15), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='train_data', start=(4, 15), end=(4, 25), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string='[', start=(4, 25), end=(4, 26), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=3 (STRING), string="'Sex'", start=(4, 26), end=(4, 31), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=']', start=(4, 31), end=(4, 32), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=',', start=(4, 32), end=(4, 33), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=1 (NAME), string='train_data', start=(4, 34), end=(4, 44), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string='[', start=(4, 44), end=(4, 45), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=3 (STRING), string="'Survived'", start=(4, 45), end=(4, 55), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=']', start=(4, 55), end=(4, 56), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=')', start=(4, 56), end=(4, 57), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=53 (OP), string=':', start=(4, 57), end=(4, 58), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(4, 58), end=(4, 59), line="for i,j in zip(train_data['Sex'], train_data['Survived']):\n"),
 TokenInfo(type=5 (INDENT), string='    ', start=(5, 0), end=(5, 4), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='if', start=(5, 4), end=(5, 6), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='i', start=(5, 7), end=(5, 8), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=53 (OP), string='==', start=(5, 9), end=(5, 11), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=3 (STRING), string="'male'", start=(5, 12), end=(5, 18), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='and', start=(5, 19), end=(5, 22), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='j', start=(5, 23), end=(5, 24), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=53 (OP), string='==', start=(5, 25), end=(5, 27), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=2 (NUMBER), string='1', start=(5, 28), end=(5, 29), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=53 (OP), string=':', start=(5, 29), end=(5, 30), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(5, 30), end=(5, 31), line="    if i == 'male' and j == 1:\n"),
 TokenInfo(type=5 (INDENT), string='        ', start=(6, 0), end=(6, 8), line='        count_males+=1\n'),
 TokenInfo(type=1 (NAME), string='count_males', start=(6, 8), end=(6, 19), line='        count_males+=1\n'),
 TokenInfo(type=53 (OP), string='+=', start=(6, 19), end=(6, 21), line='        count_males+=1\n'),
 TokenInfo(type=2 (NUMBER), string='1', start=(6, 21), end=(6, 22), line='        count_males+=1\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(6, 22), end=(6, 23), line='        count_males+=1\n'),
 TokenInfo(type=6 (DEDENT), string='', start=(7, 4), end=(7, 4), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='elif', start=(7, 4), end=(7, 8), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='i', start=(7, 9), end=(7, 10), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=53 (OP), string='==', start=(7, 11), end=(7, 13), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=3 (STRING), string="'female'", start=(7, 13), end=(7, 21), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='and', start=(7, 22), end=(7, 25), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=1 (NAME), string='j', start=(7, 26), end=(7, 27), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=53 (OP), string='==', start=(7, 28), end=(7, 30), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=2 (NUMBER), string='1', start=(7, 31), end=(7, 32), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=53 (OP), string=':', start=(7, 32), end=(7, 33), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(7, 33), end=(7, 34), line="    elif i =='female' and j == 1:\n"),
 TokenInfo(type=5 (INDENT), string='        ', start=(8, 0), end=(8, 8), line='        count_females+=1\n'),
 TokenInfo(type=1 (NAME), string='count_females', start=(8, 8), end=(8, 21), line='        count_females+=1\n'),
 TokenInfo(type=53 (OP), string='+=', start=(8, 21), end=(8, 23), line='        count_females+=1\n'),
 TokenInfo(type=2 (NUMBER), string='1', start=(8, 23), end=(8, 24), line='        count_females+=1\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(8, 24), end=(8, 25), line='        count_females+=1\n'),
 TokenInfo(type=56 (NL), string='\n', start=(9, 4), end=(9, 5), line='    \n'),
 TokenInfo(type=56 (NL), string='\n', start=(10, 0), end=(10, 1), line='\n'),
 TokenInfo(type=6 (DEDENT), string='', start=(11, 0), end=(11, 0), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=6 (DEDENT), string='', start=(11, 0), end=(11, 0), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=1 (NAME), string='print', start=(11, 0), end=(11, 5), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=53 (OP), string='(', start=(11, 5), end=(11, 6), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=3 (STRING), string='"Male Survival Rate: "', start=(11, 6), end=(11, 28), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=53 (OP), string=')', start=(11, 28), end=(11, 29), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(11, 29), end=(11, 30), line='print("Male Survival Rate: ")\n'),
 TokenInfo(type=1 (NAME), string='print', start=(12, 0), end=(12, 5), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string='(', start=(12, 5), end=(12, 6), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=1 (NAME), string='float', start=(12, 6), end=(12, 11), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string='(', start=(12, 11), end=(12, 12), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=1 (NAME), string='count_males', start=(12, 12), end=(12, 23), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string='/', start=(12, 23), end=(12, 24), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=1 (NAME), string='total_passengers', start=(12, 24), end=(12, 40), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string=')', start=(12, 40), end=(12, 41), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string='*', start=(12, 41), end=(12, 42), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=2 (NUMBER), string='100', start=(12, 42), end=(12, 45), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string=',', start=(12, 45), end=(12, 46), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=3 (STRING), string="'%'", start=(12, 46), end=(12, 49), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=53 (OP), string=')', start=(12, 49), end=(12, 50), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(12, 50), end=(12, 51), line="print(float(count_males/total_passengers)*100,'%')\n"),
 TokenInfo(type=56 (NL), string='\n', start=(13, 0), end=(13, 1), line='\n'),
 TokenInfo(type=1 (NAME), string='print', start=(14, 0), end=(14, 5), line='print("Female Survival Rate: ")\n'),
 TokenInfo(type=53 (OP), string='(', start=(14, 5), end=(14, 6), line='print("Female Survival Rate: ")\n'),
 TokenInfo(type=3 (STRING), string='"Female Survival Rate: "', start=(14, 6), end=(14, 30), line='print("Female Survival Rate: ")\n'),
 TokenInfo(type=53 (OP), string=')', start=(14, 30), end=(14, 31), line='print("Female Survival Rate: ")\n'),
 TokenInfo(type=4 (NEWLINE), string='\n', start=(14, 31), end=(14, 32), line='print("Female Survival Rate: ")\n'),
 TokenInfo(type=1 (NAME), string='print', start=(15, 0), end=(15, 5), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string='(', start=(15, 5), end=(15, 6), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=1 (NAME), string='float', start=(15, 6), end=(15, 11), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string='(', start=(15, 11), end=(15, 12), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=1 (NAME), string='count_females', start=(15, 12), end=(15, 25), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string='/', start=(15, 25), end=(15, 26), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=1 (NAME), string='total_passengers', start=(15, 26), end=(15, 42), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string=')', start=(15, 42), end=(15, 43), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string='*', start=(15, 43), end=(15, 44), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=2 (NUMBER), string='100', start=(15, 44), end=(15, 47), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string=',', start=(15, 47), end=(15, 48), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=3 (STRING), string="'%'", start=(15, 48), end=(15, 51), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=53 (OP), string=')', start=(15, 51), end=(15, 52), line="print(float(count_females/total_passengers)*100,'%')"),
 TokenInfo(type=4 (NEWLINE), string='', start=(15, 52), end=(15, 53), line=''),
 TokenInfo(type=0 (ENDMARKER), string='', start=(16, 0), end=(16, 0), line='')]

In [41]:
# Extract only function names, variables, comments then we can join them
code_text = tokenize.generate_tokens(io.StringIO(code.loc['33ff3073','source']).readline)
[tok.string for tok in code_text if tok.type==53 or tok.type==55]

['=',
 '[',
 ']',
 '.',
 '(',
 ')',
 '=',
 '=',
 ',',
 '(',
 '[',
 ']',
 ',',
 '[',
 ']',
 ')',
 ':',
 '==',
 '==',
 ':',
 '+=',
 '==',
 '==',
 ':',
 '+=',
 '(',
 ')',
 '(',
 '(',
 '/',
 ')',
 '*',
 ',',
 ')',
 '(',
 ')',
 '(',
 '(',
 '/',
 ')',
 '*',
 ',',
 ')']

In [42]:
# Add code cell ordering
X_train = sparse.hstack((
    X_train,
    np.where(
        df_train['cell_type'] == 'code',
        df_train.groupby(['id', 'cell_type']).cumcount().to_numpy() + 1,
        0,
    ).reshape(-1, 1)
))

print(X_train.shape)

(416710, 282)